repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [ --py310-plus ]
  - repo: https://github.com/psf/black
    rev: 24.1.0
    hooks:
      - id: black
        args: [ "--target-version", "py310" ]
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)