name: mypy

on:
  push:
    branches:
      - main
    paths:
      - "**.py"

  pull_request:
    branches:
      - main

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        # https://github.com/actions/setup-python
        with:
          python-version: "3.14"
          cache: "pip"

      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            python3-dev \
            libldap2-dev \
            libsasl2-dev \
            krb5-multidev \
            libkrb5-dev

      - name: Install dependencies
        run: |
          pip install -U -r requirements.d/full.txt
          pip install -U -r requirements.d/mypy.txt

      - name: Run mypy
        run: mypy
